<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/80caa23151.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" style="margin-top:0px; width:100%;">
    <div class="container-fluid">
      <div class="navbar-header col-sm-12 col-md-4 ">
 

          <a class="navbar-brand" href="{% url 'index'%}">
          </a>
        <div class="" style="margin-top:15px;">
          <a href="{% url 'index' %}" id="instTitle" style=" margin-left:10px;color:rgb(19, 175, 167); padding-top:50px; margin-right:20px;font-size:25px;">
            {{request.user.username.title}}
          </a>
        </div>

      </div>





          <div class="col-sm-12 col-md-4 menu" >

            <div class="">

                    {% if user.is_authenticated %}
                    <ul style="list-style:none; position: relative; margin-top:10px;float:right; text-color:rgb(19, 175, 167);">
                      <li class="dropdown" style="text-color:rgb(17, 123, 175);">
                        <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu" role="menu">

                          <li>
                            <a href="admin/logout">Logout</a>
                          </li>
                        </ul>
                      </li>

                      {% else %}
                      <li>
                        <a class='btn btn-default' href="/admin/login">Login</a>
                      </li>
                      <li>
                        <a href="{% url 'registration_register'  %}">Sign Up</a>
                      </li>

                    </ul>
                    {% endif %}
          </div>
  
          <div class="">
            <a href=" {% url 'reports'%}" style="float:right; margin-left:10px; margin-top:12px;font-size:25px;">
              <span class="glyphicon " style="color:black">Reports</span>
            </a>
          </div>
          <div class="">
            <a href=" {% url 'applyCertificate'%}" style="float:right; margin-left:10px; margin-top:12px;font-size:25px;">
              <span class="" style="color:black">Apply</span>
            </a>
          </div>

          <div class="">
            <a href=" {% url 'applyCertificate'%}" style="float:right; margin-left:10px; margin-top:12px;font-size:25px;">
              <span class="" style="color:black">Student</span>
            </a>
          </div>

          <div class="">
            <a href=" {% url 'index'%}" style="float:right; margin-left:10px; margin-top:12px;font-size:25px;">
              <span class="" style="color:black">Home</span>
            </a>
          </div>




          </div>


    </nav>
</body>
</html>

<script type="text/css">


</script>
